body {
  margin: 0;
  padding: 20px;
  height: max-content;
  width: max-content;
  text-align: center;
  background-color: rgb(68, 68, 68);
  font-family: "supersubmarine";
  color: white;
}

@font-face {
  font-family: "supersubmarinehalf";
  src: url("supersubmarinehalf.woff2") format("woff2"),
    url("supersubmarinehalf.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "supersubmarine";
  src: url("supersubmarine.woff2") format("woff2"),
    url("supersubmarine.woff") format("woff");
  font-style: normal;
}

.mainTitle {
  font-family: "supersubmarinehalf";
  font-size: 60px;
  height: 100px;
}

.display {
  font-size: 30px;
  height: 100px;
}

.playerIndicatorContainer {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  height: 30px;
}

.gridsContainer {
  display: flex;
  justify-content: space-between;
  height: 360px;
  width: 850px;
}

.gridContainer {
  height: 350px;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  margin: 1px;
  transition: all 0.6s;
}

.P2 > .cell {
  border: solid rgb(25, 230, 25) 0.5px;
}

.unknown {
  background-color: rgb(30, 82, 6);
}

.touched {
  background: radial-gradient(
    circle,
    rgb(25, 230, 25) 25%,
    rgb(30, 82, 6) 50%,
    rgb(30, 82, 6) 100%
  );
}

.touchedP1 {
  background: radial-gradient(
    circle,
    yellow 5%,
    red 40%,
    rgb(39, 133, 226) 50%,
    rgb(39, 133, 226) 100%
  );
}

.water {
  background-color: rgb(39, 133, 226);
}

.P2 > .water {
  background-color: rgb(23, 61, 5);
}

.shot {
  background-color: rgb(16, 97, 179);
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrolBoat {
  background-color: rgba(128, 128, 128, 1);
  border: solid 1px white;
}

.carrier.touchedP1,
.battleship.touchedP1,
.destroyer.touchedP1,
.submarine.touchedP1,
.patrolBoat.touchedP1 {
  border: solid black 1px;
}
